* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

html {
font-size: 20px; /* 1rem will equal this now */
line-height: 1.6;
font-family: sans-serif; /* add google fonts */
}

body {
  /* background: url("https://drive.google.com/uc?export=view&id=13MdevlT6snYhCvoHxRcWdBnw_ebfijg4") center fixed repeat; /*log in background*/ */
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
/* display: flex;
flex-flow: wrap; */
align-items: center;
}

header{
  background: #2ad2ff;

}

.nav {
  background: #3d84e8;
  text-align: center;
  
}

.navBtton{
  border: none;
  background: none;
  display-flex: column; 
}

.card{
  margin: 5rem;
  text-align: center;
}

#searchBar{
  border-radius: 0.3rem;
  border: none;
}

.navBtton{
  aling-items: center;
}

.headerLogo{
  margin-top: 1rem;
  margin-left: 3rem;
  margin-right: 30rem;
  margin-bottom: 1rem;
}


a {
  text-decoration: none;
  
}

#introText{
  padding: 5rem;
 
}


.btn {
  border: none;
  border-radius: 0.3rem;
  padding: 0.15rem 0.2rem;
}

.footText {
  font-size: 0.7rem;
}
